.ray-dashboard-product-performance {
	.header-row {
		border-bottom: 1px solid hsl(209, 36%, 85%);
		height: 62px;

		.product-performance-select {
			border-color: $color-neutral-white;
			width: 85px;
		}

		.general-filter:focus {
			box-shadow: none !important;
		}

		@media screen and (min-width: $breakpoint-tablet) and (max-width: 1163px) {
			height: 90px;
		}
	}

	.left-container {
		border-right: 1px solid hsl(209, 36%, 85%);
	}
}

	.bb-legend-item-event{
		cursor: default;
	}

	.bb{
		g{
			margin-top: 30px;
		}
	}

	div.quadrado {
		line-height:0;
		width:0;
		height:0;
		border-style: solid;
		border-color: #f00 ;
		border-width: 10px 10px 10px;
		}

	div.legend{
		display: flex;
		justify-content: end;
		padding-top: 20px;
		


	}